APP_TOKEN=<discord application token>
APP_ID=<discord application id>

# This is baked into the docker image but can be overriden.
# Required if not using the docker image.
WHISPER_MODEL=/path/to/whisper-model.bin

